.query {
  padding: 16px;
  flex: 1 25%;
  max-width: 500px;
  height: fit-content;
  margin: 24px auto 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.query--title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.query--title p,
.query--item {
  margin-top: 8px;
  cursor: pointer;
}

.query--title p:hover {
  color: #d32f2f;
}

.query--item:hover {
  color: #1976d2;
}

@media (max-width: 576px) {
  .query {
    max-width: 100%;
    margin: 0 16px;
  }
}
